{% extends "template_base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}

<form method="POST" class="row">
    {% csrf_token %}
    <div class="col">
      <select name="seleccion" class="form-control" aria-placeholder="Seleccione el tipo de Entidad">
        <option value="0">Seleccione Entidad...</option>
        <option value="1">Tipos Discapacidad</option>
        <option value="2">Rubros</option>
        <option value="3">Rangos de Edades</option>
        <option value="4">Categorias Ocupacionales</option>
        <option value="5">Sectores Economicos</option>
      </select>
    </div>
    <div class="col">
      <button type="submit" class="btn btn-success">Selecccionar</button>
      <a href="/includata/dashboards/censo/" type="submit" class="btn btn-dark">Regresar</a>
    </div>
</form>

{% if lista %}
<table class="table mt-5">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Accion</th>
      </tr>
    </thead>
    <tbody>
        {% for item in lista %}
            <tr>
                <th scope="row">{{ item.nombre }}</th>
                <td><a href="{% url 'eliminar_entidad' idCenso=idCenso option=option idEntidad=item.id %}" class="btn btn-danger">Eliminar</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

<div class="position-absolute top-100 start-50 translate-middle">
  {% endblock %}
</div>

